# Build results
bin/
obj/

# Visual Studio cache and settings
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# NuGet packages
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.swp

# Test results
TestResult*/
*.trx
*.coverage
*.coveragexml

# Publish outputs
publish/
*.pubxml
*.publishproj

# Resharper
_ReSharper*/
*.DotSettings.user

# Rider
.idea/

# Other IDE-specific
*.dbmdl
*.jfm

# Azure
*.azurepubxml

# Others
*.pdb
*.cache